body{
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: #f7d6ff;
}
.user{
    margin-top: 2rem;
    
}
.user-name{
    font-weight: 600;
    background-color: #cecece;
}
.img{
    height: 10px;
    width: 10px;
}